
* {
	box-sizing: border-box;
}

html {
	font-family: "Proxima Nova", sans-serif;
	font-size: 16px;
}

body {
	padding: 0 0 4rem;
}

input:not([type="checkbox"]),
textarea {
	background: #f9f9f9;
	border: none;
	border-radius: 4px;
	outline: none;
	width: 100%;
	font-family: Menlo, monospace;
	font-size: 13px;
	resize: none;
}

select {
	background: #f9f9f9 url("assets/icon-dropdown.svg") no-repeat;
	background-position: right 10px center;
	border: none;
	border-radius: 4px;
	outline: none;
	display: block;
	padding: 1rem;
	width: 100%;
	font-family: inherit;
	font-size: 14px;
	cursor: pointer;
	-webkit-appearance: none;
	   -moz-appearance: none;
		      appearance: none;
}

textarea {
	line-height: 1.4;
}

img,
video {
	max-width: 100%;
	height: auto;
}

a {
	color: inherit;
	text-decoration: none;
}

a.button {
	background: #cacaca;
	border-radius: 4px;
	display: inline-block;
	padding: 0.6rem 1rem 0.5rem;
	color: #fff;
	font-size: 12px;
	vertical-align: middle;
	cursor: pointer;
	transition: color 200ms ease,
	background 200ms ease;
}

a.button.primary {
	background: #58d18c;
	padding-right: 1.2rem;
	padding-left: 1.2rem;
}

a.button.primary.disabled {
	color: #8ddbaf;
}

a.button.destructive {
	background: transparent;
	color: #f58866;
}

.main {
	margin: 0 auto;
	max-width: 40rem;
}

/**
 * Forms
 */

.form-field input:not([type="checkbox"]),
.form-field textarea {
	padding: 1rem;
}

.form-field input[type="checkbox"] {
	position: relative;
	top: -1px;
	margin: 0 0.25em 0 0;
	padding: 0;
}

.form-field-note {
	font-size: 12px;
}

.form-field-label {
	display: block;
	margin-bottom: 0.5rem;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.form-error-list {
	background: #f00;
	padding: 1rem;
}

.form-advanced-actions {
	margin-top: 8rem;
	text-align: center;
}

.form-advanced-actions a {
	border: 1px #ccc solid;
	border-radius: 3px;
	padding: 0.4rem 0.8rem;
	font-size: 11px;
	cursor: pointer;
}

/**
 * Callouts
 */

.callout {
	border: 1px transparent solid;
	border-radius: 4px;
	margin-bottom: 2rem;
	padding: 0.75em 1.25em;
	font-size: 14px;
	line-height: 1.5;
}

.callout.notice {
	background: #fcf8e3;
	border-color: #faf2cc;
	color: #8a6d3b;
}

.callout.error {
	border-color: #ebccd1;
	color: #a94442;
	/*background: #f65c4d;*/

	background-color: #f2dede;
}

.callout p {
	margin: 0;
}

/**
 * Login Page
 */

.login-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 25rem;
	text-align: center;
}

.login-form input {
	margin-bottom: 0.5em;
	padding: 1rem;
	line-height: 1.5;
}

.login-form .login-button {
	margin-top: 0.5rem;
	padding: 1rem 0;
	width: 100%;
	height: auto;
	font-size: 14px;
	text-align: center;
}

.login-form-help {
	font-size: 12px;
}

.login-form-help a {
	color: #298e54;
}

.login-form-error {
	position: absolute;
	top: -6rem;
	left: 0;
	right: 0;
	color: #e76b2e;
	font-size: 14px;
	text-align: center;
}

/**
 * Home Page
 */

.profile-preview {
	border: 1px #f2f2f2 solid;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 3rem;
	padding: 1rem;
	font-size: 14px;
}

.profile-preview-name {
	font-weight: bold;
}

.projects-list-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.projects-list-title {
	font-weight: bold;
}

.project-preview {
	border: 1px #f2f2f2 solid;
	border-radius: 4px;
	display: block;
	margin: 0 0 1rem;
	padding: 1rem;
}

.project-preview-title {
	display: block;
	font-weight: bold;
}

.project-preview-badge {
	margin-left: 0.25em;
	color: #f5ae7a;
	font-size: 9px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	vertical-align: middle;
}

.project-preview-slug {
	opacity: 0.5;
	font-family: Menlo, monospace;
	font-size: 11px;
}

.project-create-nux {
	border: 1px #f2f2f2 solid;
	border-radius: 4px;
	display: block;
	padding: 2rem;
	text-align: center;
}

.project-create-prompt {
	margin: 0 0 1rem;
	color: #999;
	font-size: 11px;
}

/**
 * Project Form
 */

.project-form {
	transition: opacity 200ms ease;
}

.project-form.loading {
	opacity: 0.0;
}

.project-form-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.project-form-header-context {
	vertical-align: middle;
}

.form-field {
	position: relative;
	display: block;
	margin-bottom: 2rem;
}

.project-form-error {
	background: #f65c4d;
	position: absolute;
	left: 0;
	padding: 0.5rem;
	width: 200px;
	color: #fff;
	font-size: 13px;
}

.project-slug {
	margin-top: 0.5rem;
	font-size: 12px;
}

.dropzone {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	/*background: #f9f9f9;*/
}

.dropzone-prompt {
	border: 1px #cfcfcf dashed;
	border-radius: 4px;
	position: relative;
	display: flex;
	flex: 1 0 auto;
	align-items: center;
	justify-content: center;
	margin-bottom: 2rem;
	padding: 2rem;
	width: 100%;
	font-size: 12px;
}


.dropzone.hasFiles .dropzone-prompt {
	border-color: #f2f2f2;
	padding: 1.5rem 2rem;
	font-size: 10px;
}

.dropzone.hasFiles .dropzone-help {
	opacity: 0.75;
}

.dropzone.hasFiles .dropzone-help-icon {
	max-width: 36px;
}

.dropzone-help {
	position: relative;
	display: flex;
	align-items: center;
	color: #999;
	text-align: center;
	-webkit-user-select: none;
}

.dropzone-help-text {
	color: #b2b2b2;
	font-weight: 600;
	letter-spacing: 0.07em;
	text-transform: uppercase;
}

.dropzone-help-icon {
	display: inline-block;
	padding-right: 1em;
}

.dropzone input[type="file"] {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.0;
	margin: 0;
	cursor: pointer;
}

.dropzone-files {
	/*border: 1px #efefef solid;*/
	padding: 1rem 0;
	width: 100%;
	text-align: center;
}

.dropzone-file {
	display: flex;
	flex-basis: 90%;
	margin-bottom: 0.5rem;
	font-size: 12px;
	text-align: left;
}

.dropzone-file-preview {
	background: #ccc;
	background-size: cover;
	border-radius: 4px;
	overflow: hidden;
	margin-right: 1.5rem;
	width: 80px;
	height: 80px;
}

.dropzone-file-preview img {
	max-width: 100%;
	height: auto;
}

.dropzone-file-meta {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	justify-content: center;
	padding: 0.5em 0;
}

.dropzone-file-name {
	display: block;
	font-weight: bold;
}

.dropzone-file-size {
	/*font-family: Menlo, monospace;*/
}

.dropzone-file-size.medium {
	color: #dfa44c;
}
.dropzone-file-size.large {
	color: #e76b2e;
}
.dropzone-file-size.massive {
	color: #ff4b4b;
}

.dropzone-file-actions {
	display: flex;
	align-items: center;
	margin-left: auto;
	padding: 0.5em 0;
}

.dropzone-action {
	display: inline-block;
	margin: 0 0.25rem;
	font-weight: bold;
}

.dropzone-action::before {
	content: " ";
	display: inline-block;
	margin-right: 0.5rem;
	width: 10px;
	height: 10px;
}

.dropzone-action-insert {
}

.dropzone-action-delete {
}

.dropzone-action-delete:hover {
	color: #f65c4d;
}


.editor {
}

.editor textarea {
	border-top-left-radius: 0;
	min-height: 150px;
	margin: 0;
}

.editor-action-bar {
	display: flex;
	justify-content: space-between;
}

.editor-actions {
	display: flex;
}

.editor-action {
	background: #f9f9f9;
	display: block;
	opacity: 0.25;
	padding: 1rem 2rem;
	font-size: 15px;
	font-weight: bold;
	vertical-align: middle;
	cursor: pointer;
}

.editor-action:first-child {
	border-top-left-radius: 4px;
}

.editor-action:last-child {
	border-top-right-radius: 4px;
}

.editor-action:hover {
	opacity: 0.5;
}

.editor-action.active {
	opacity: 1.0;
}

.editor-help-markdown {
	align-self: center;
	padding: 1rem;
	color: #999;
	font-size: 11px;
}

.editor-help-markdown::before {
	background: transparent url("assets/icon-markdown.svg") no-repeat;
	background-size: contain;
	content: " ";
	display: inline-block;
	margin-right: 8px;
	width: 17px;
	height: 12px;
	vertical-align: middle;

	shape-rendering: crispEdges;
}

.editor-preview {
	background: #f9f9f9;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 1rem;
}

@font-face {
	font-family: "Proxima Nova";
	font-weight: normal;
	font-style: normal;

	src: local("ProximaNova-Regular");
}

@font-face {
	font-family: "Proxima Nova";
	font-weight: bold;
	font-style: normal;

	src: local("ProximaNova-Semibold");
}

@font-face {
	font-family: "Proxima Nova";
	font-weight: 800;
	font-style: normal;

	src: local("ProximaNova-Bold");
}
