
* {
	box-sizing: border-box;
}

html {
	font-family: "Proxima Nova", sans-serif;
	font-size: 16px;
}

body {
	padding: 0 0 4rem;
}

input:not([type="checkbox"]),
textarea {
	background: #fafafa;
	border-radius: 4px;
	outline: none;
	border: none;
	resize: none;
	width: 100%;
	font-family: Menlo, monospace;
	font-size: 13px;
}

textarea {
	line-height: 1.4;
}

img,
video {
	max-width: 100%;
	height: auto;
}

a {
	color: inherit;
	text-decoration: none;
}

a.button {
	cursor: pointer;
	display: inline-block;
	padding: 0.6rem 1rem 0.5rem;
	background: #cacaca;
	border-radius: 4px;
	color: #fff;
	font-size: 12px;
	vertical-align: middle;
	transition:
		color 200ms ease,
		background 200ms ease;
}

a.button.primary {
	background: #58d18c;
	padding-left: 1.2rem;
	padding-right: 1.2rem;
}

a.button.primary.disabled {
	color: #8ddbaf;
}


.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 2rem auto 3rem;
	max-width: 40rem;
}

.header-title {
	font-weight: bold;
}

.header-user {
	color: #aaa;
	font-size: 12px;
	font-weight: normal;
	vertical-align: middle;
	-webkit-user-select: none;
	user-select: none;
}

.header-logout {
	cursor: pointer;
	margin-left: 1rem;
}

.main {
	margin: 0 auto;
	max-width: 40rem;
}

/**
 * Forms
 */

.form-field input,
.form-field textarea {
 padding: 1rem;
}

.form-field-note {
 font-size: 12px;
}

.form-field-label {
 display: block;
 font-size: 13px;
 font-weight: bold;
 text-transform: uppercase;
 letter-spacing: 0.03em;
 margin-bottom: 0.5rem;
}

.form-error-list {
	padding: 1rem;
	background: #f00;
}

/**
 * Callouts
 */

.callout {
	padding: 0.75em 1.25em;
	border: 1px transparent solid;
	border-radius: 4px;
	margin-bottom: 2rem;
	font-size: 14px;
	line-height: 1.5;
}

.callout.notice {
	background: #fcf8e3;
	border-color: #faf2cc;
	color: #8a6d3b;
}

.callout.error {
	/*background: #f65c4d;*/
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
}

.callout p {
	margin: 0;
}

/**
 * Login Page
 */

.login-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 25rem;
	text-align: center;
}

.login-form input {
	padding: 1rem;
	line-height: 1.5;
	margin-bottom: 0.5em;
}

.login-form .login-button {
	width: 100%;
	height: auto;
	margin-top: 0.5rem;
	padding: 1rem 0;
	font-size: 14px;
	text-align: center;
}

.login-form-help {
	font-size: 12px;
}

.login-form-help a {
	color: #298e54;
}

.login-form-error {
	position: absolute;
	top: -6rem;
	left: 0;
	right: 0;
	text-align: center;
	color: #e76b2e;
	font-size: 14px;
}

/**
 * Home Page
 */

.profile-preview {
	display: flex;
	justify-content: space-between;
	margin-bottom: 3rem;
}

.projects-list-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.projects-list-title {
	font-weight: bold;
}

.project-preview {
	display: block;
	border: 1px #f2f2f2 solid;
	border-radius: 2px;
	padding: 1rem;
	margin: 0 0 1rem;
}

.project-preview-title {
	display: block;
	font-weight: bold;
}

.project-preview-slug {
	font-family: Menlo, monospace;
	font-size: 11px;
	opacity: 0.5;
}

/**
 * Project Form
 */

.project-form {
}

.project-form-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.project-form-header-context {
	vertical-align: middle;
}

.form-field {
	position: relative;
	display: block;
	margin-bottom: 2rem;
}

.project-form-error {
	position: absolute;
	left: 0;
	width: 200px;
	background: #f65c4d;
	padding: 0.5rem;
	color: #fff;
	font-size: 13px;
}

.project-slug {
	margin-top: 0.5rem;
	font-size: 12px;
}

.dropzone {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	padding: 2rem;
	border: 1px #cfcfcf dashed;
	border-radius: 4px;
	/*background: #fafafa;*/
}

.dropzone-help {
	display: flex;
	align-items: center;
	font-size: 12px;
	color: #999;
	text-align: center;
	-webkit-user-select: none;
}

.dropzone-help-text {
	color: #b2b2b2;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.07em;
}

.dropzone-help-icon {
	display: inline-block;
	padding-right: 1em;
}

.dropzone input[type="file"] {
	position: absolute;
	cursor: pointer;
	top: 0; left: 0; right: 0; bottom: 0;
	opacity: 0.0;
}

.dropzone-files {
	width: 100%;
	text-align: center;
}

.dropzone-file {
	display: flex;
	flex-basis: 90%;
	margin-bottom: 0.5rem;
	font-size: 12px;
	text-align: left;
}

.dropzone-file-preview {
	background: #ccc;
	background-size: cover;
	border-radius: 4px;
	width: 60px;
	height: 60px;
	overflow: hidden;
	margin-right: 1.5rem;
}

.dropzone-file-preview img {
	max-width: 100%;
	height: auto;
}

.dropzone-file-meta {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.dropzone-file-name {
	display: block;
	font-weight: bold;
}

.dropzone-file-size.medium { color: #dfa44c; }
.dropzone-file-size.large { color: #e76b2e; }
.dropzone-file-size.massive { color: #ff4b4b; }

.dropzone-file-actions {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.dropzone-action {
	display: inline-block;
	margin: 0 1rem;
	font-weight: bold;
}

.dropzone-action::before {
	content: ' ';
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 0.5rem;
}

.dropzone-action-insert {

}

.dropzone-action-delete {

}

.dropzone-action-delete::before {
	background: transparent url('/assets/icon-delete.svg') no-repeat;
	background-size: cover;
}

.dropzone-action-delete:hover {
	color: #f65c4d;
}


.editor {

}

.editor textarea {
	min-height: 150px;
}

.editor-action-bar {
	display: flex;
	padding: 1rem;
	justify-content: space-between;
}

.editor-action {
	cursor: pointer;
	opacity: 0.5;
	margin-right: 1rem;
	font-size: 15px;
	font-weight: bold;
}

.editor-action:hover { opacity: 0.75; }
.editor-action.active { opacity: 1.0; }

.editor-help-markdown {
	color: #999;
	font-size: 11px;
}

.editor-help-markdown::before {
	content: ' ';
	background: transparent url('/assets/icon-markdown.svg') no-repeat;
	background-size: contain;
	shape-rendering: crispEdges;
	display: inline-block;
	width: 17px;
	height: 12px;
	margin-right: 8px;
	vertical-align: middle;
}

.editor-preview {
	background: #fafafa;
	padding: 1rem;
}

@font-face {
  font-family: 'Proxima Nova';
  src: local('ProximaNova-Regular');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: local('ProximaNova-Semibold');
	font-weight: bold;
	font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: local('ProximaNova-Bold');
	font-weight: 800;
	font-style: normal;
}
